@import '../../responsive.scss';

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fdce50;
          border: none;
          border-radius: 25px;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 2px solid #fdce50;

        padding: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
      border-radius: 15px;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;

      @include md {
        padding: 10px 10px;
      }
    }
  }
}
