@import '../../responsive.scss';

.newPostPage {
  height: 100%;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #fdce50;

  @include md {
    padding: 10px;
  }

  .formContainer {
    flex: 3;
    overflow: scroll;
    scrollbar-width: none;
    padding: 50px;
    margin-bottom: 10px;

    @include md {
      padding: 10px;
    }

    h1 {
      border-bottom: 1px solid #fdce50;
      margin-bottom: 10px;
    }

    .group {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fdce50;
      padding: 20px;

      &.description {
        display: flex;
        justify-content: space-between;
        height: 300px;

        .item {
          height: 100%;

          .ql-container {
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            background-color: whitesmoke;
          }
          .ql-toolbar {
            border-radius: 5px;

            @include sm {
              display: flex;
              flex-direction: column;
              height: 80px;
            }
          }

          .quill > .ql-container > .ql-editor {
            height: 150px;
            font-size: 16px;

            @include sm {
              height: 100%;
            }
          }
        }
      }

      .left {
        width: 300px;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
      }
      .right {
        display: flex;

        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;

        @include md {
          display: flex;
          flex-direction: column;
        }

        .item {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            margin-bottom: 10px;
            font-weight: 300;

            span {
              font-size: 10px;
            }
          }

          input {
            width: 100%;
            padding: 20px;
            background-color: whitesmoke;
            border: none;
            height: 30px;
            border-radius: 5px;
            font-size: 15px;
          }
          select {
            width: 100%;
            padding: 10px;
            background-color: whitesmoke;
            border: none;
            border-radius: 5px;
          }
        }
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .cancelButton,
      .sendButton {
        width: 100px;
        padding: 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      .sendButton {
        background-color: #fdce50;
      }
    }
  }
  .images {
    justify-content: space-between;
    gap: 20px;

    .item {
      img {
        width: 200px;
        height: 150px;
        border-radius: 5px;
        margin: 20px;
      }
      .widget {
        display: flex;
        justify-content: right;
      }
    }
  }
}
