.register {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item.avatar {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      margin: 10px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;
      }
      button {
        background-color: #fdce50;
        border: 0;
        padding: 0 20px;
        color: black;
        font-weight: 300;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
          padding: 20px;
          border: 1px solid gray;
          border-radius: 5px;
        }
      }

      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: #fdce50;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background-color: #bed9d8;
          cursor: not-allowed;
        }
      }
      span {
        color: rgba(255, 0, 0, 0.591);
      }

      a {
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
    }
  }
  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
