@import '../../responsive.scss';

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include md {
    gap: 5px;
  }
  @include sm {
    gap: 2px;
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;

      @include md {
        width: 80px;
      }
      @include sm {
        width: 100%;
      }
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include sm {
      flex-direction: column;
      gap: 5px;
    }
    .item {
      @include sm {
      }
    }

    button {
      width: 100px;
      padding: 10px;
      bottom: none;
      cursor: pointer;
      background-color: #fdce50;
      border: none;
      border-radius: 5px;

      @include sm {
        width: 100%;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
