.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;

    h1 {
      font-weight: 300;
    }

    .message {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      .avatar {
        position: relative;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .online {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: greenyellow;
      }

      span {
        font-weight: bold;
      }
      p {
        display: flex;
        width: 300px;
        overflow: hidden; /* 隐藏溢出内容 */
        text-overflow: ellipsis;
        word-wrap: break-all;
        white-space: nowrap;
      }
    }
  }

  .chatBox {
    border-radius: 25px 25px 0px 0px;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      border-radius: 25px 25px 0px 0px;
      display: flex;
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .close {
        cursor: pointer;
      }
    }

    .center {
      height: 350px;
      overflow: scroll;
      scrollbar-width: none;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 100%;

        &.own {
          align-self: flex-end;
          text-align: right;
        }
        p {
          display: inline-block; /* 使背景色随内容变化 */
          padding: 10px;
          border-radius: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre-wrap; /* 保留空格并允许换行 */
          word-wrap: break-word; /* 支持单词换行 */
          overflow-wrap: break-word; /* 兼容性处理 */
          background-color: #e5e5ea;
          max-width: 100%;
          a {
            color: blue;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }

        span {
          font-size: 12px;
          display: block;
          padding: 2px;
        }
      }
    }
    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
      }
      button {
        flex: 1;
        background-color: #f7c14b85;
        border: none;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
