@import '../../responsive.scss';

.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
      scrollbar-width: none;

      @include md {
        padding-right: 20px;
      }

      @include sm {
        padding-right: 0px;
      }
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fff;
    padding-bottom: 20px;

    @include md {
      display: none;
    }
  }
}
